# Spotify API Credentials
SPOTIFY_CLIENT_ID=8850151b9d7c40df8649582b0925e59c
SPOTIFY_CLIENT_SECRET=0d434db2775948d79f500e61c3082764

# YouTube API Credentials
YOUTUBE_API_KEY=AIzaSyDYsFvYUGEkVJhipGdEHPPjD4gbpBRNUXo
